<html ng-app="todoListApp">
<head>
  <link href="main.css" rel="stylesheet">
  <script src="angular.min.js"></script>
  <script src="script.js"></script>
  <script src="checkURIs.js"></script>
  <script src="compress.js"></script>
</head>
<body ng-controller="TodoListController">
  <div class="main">
    <div class="top container">
      <div class="input-label container">add project</div>
      <div class="input container"><input type="text" ng-model="newProject" ng-keypress="handleKeyEvents($event)"/></div>
      <div class="total-counter container">TOTAL
        <div class="project-counter">{{todos.length + inProgresses.length + dones.length}}</div>
      </div>
    </div>
    <div class="body container">
      <div class="project-list container">
        <ul>
          <li class="header">
            <h3>To do</h3>
            <div class="project-counter">{{todos.length}}</div>
          </li>
          <li ng-repeat="todo in todos" id="todos-{{$index}}" todo-draggable todo-droppable transfer-to-index="transferToIndex()">{{todo}}</li>
          <li id="todos-{{todos.length}}" class="last-placeholder" todo-droppable>&nbsp;</li>
        </ul>
      </div>
      <div class="project-list container">
        <ul>
          <li class="header">
            <h3>In Progress</h3>
            <div class="project-counter">{{inProgresses.length}}</div>
          </li>
          <li ng-repeat="inProgress in inProgresses" id="inProgresses-{{$index}}" todo-draggable todo-droppable transfer-to-index="transferToIndex()">{{inProgress}}</li>
          <li id="inProgresses-{{inProgresses.length}}" class="last-placeholder" todo-droppable>&nbsp;</li>
        </ul>
      </div>
      <div class="project-list container">
        <ul>
          <li class="header">
            <h3>Done</h3>
            <div class="project-counter">{{dones.length}}</div>
          </li>
          <li ng-repeat="done in dones" id="dones-{{$index}}" todo-draggable todo-droppable transfer-to-index="transferToIndex()">{{done}}</li>
          <li id="dones-{{dones.length}}" class="last-placeholder" todo-droppable>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>