
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main {
  background-color: lightgray;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.container {
  padding: 0.6rem;
}
.top, .body {
  display: flex;
}
.input-label {
  text-align: right;
  width: 10%;
}
.input {
  width: 90%;
}
.total-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 10%;
}
.project-counter {
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.3);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 0.6rem;
}
.project-counter::after {
  color: gray;
  content: 'projects';
  font-weight: normal;
  text-transform: uppercase;
}
.project-list {
  width: calc(100%/3);
}
.project-list li {
  background-color: white;
  margin-bottom: 0.2rem;
  padding: 2.4rem 1.2rem;
  position: relative;
}
.project-list li.dragover {
  margin-top: 7rem;
}
.project-list li.dragover::before {
  background-color: lightgray;
  border: 0.4rem dashed white;
  content: '+';
  display: block;
  left: 0rem;
  margin-bottom: 0.2rem;
  padding: 2rem 1.2rem;
  position: absolute;
  text-align: center;
  top: -6.8rem;
  width: calc(100% - 3.2rem);
}
.project-list .last-placeholder {
  background-color: lightgray;
}
.project-list .header {
  align-items: center;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}